<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <h3 style="text-align:center;color:purple;">Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>


    <div class="container col-6">
        <a href="/create-room" class="btn btn-success">Create New Room </a>
        <a href="/logout/" class="btn btn-danger ml-10">LogOut</a>

        <ul class="list-group">
            <li class="list-group-item active"> Rooms Available </li>
         {% for room in rooms %}
             <li class="list-group-item"><a style="color:red" href="/rooms/{{ room._id.room_id }}">{{room.room_name}}</a></li>
        {% endfor %}
        </ul>

         <ul class="list-group" style="margin-top:10px;">
            <li class="list-group-item active"> Users Available </li>
         {% for user in users %}
             <li class="list-group-item">{{user._id}}</a></li>
        {% endfor %}
        </ul>

    </div>
</body>
</html>